/* Top Section */
.top-section {
    height: 100vh; 
    padding-top:  37vh;   
    background: rgba(1, 1, 16, 0.697) url(../../assets/banner.png) no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;
}

.top-section__heading { font-size: 3.5rem; }

.top-section__p { width: 35vw; }

@media screen and (max-width: 1060px) {
    .top-section__heading { font-size: 3rem; }
    .top-section__p { width: 45vw}
}
@media screen and (max-width: 768px) {
    .top-section__heading { font-size: 2.5rem; }
    .top-section__p { width: 55vw}
}
@media screen and (max-width: 620px) {
    .top-section__heading { font-size: 2rem; }
    .top-section__p { width: 75vw}
}



/* Button */
button { 
    background: transparent;

    -webkit-transition: 0.5s linear; 
    -moz-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
 }
 
button:hover { background: orangered; }

@media screen and (max-width: 1060px) { button { font-size: 14px; } }

@media screen and (max-width: 768px) { button { font-size: 12px; } }



/* Campuses  */
.campus-card:hover { background-blend-mode: color-dodge; }

.campus-card h2 { 
    height: 100%;
    width: 100%;
    color: transparent;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    -webkit-transition: 0.7s ease-in; 
    -moz-transition: 0.7s ease-in;
    -o-transition: 0.7s ease-in;
    transition: 0.7s ease-in;
}

.campus-card h2:hover {
    color: #fff;
    /* the 2 properties below are interchangeable based on preference
        padding-bottom: 30vh;
        align-items: center; 
    */
    padding-bottom: 30vh;
    /* align-items: center; */
}



/* Enroll */
.enroll {
    width: 95%;
    height: fit-content;

    background: rgba(0, 0, 0, 0.663) url(../../assets/banner2.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
}

.enroll h1 { 
    font-size: 3rem ;
    width: 80%;
}

@media screen and (max-width: 1060px) { .enroll h1 { font-size: 2rem; } }

@media screen and (max-width: 768px) { .enroll h1 { font-size: 1.5rem; } }