/* Navbar */
a { 
    color: #fff;
    text-decoration: none;

    -webkit-transition: 0.5s ease; 
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
 }

 a:hover { color: #a09c9c; }

 a.active{ color: #ff4500; }

.offcanvas { background: rgba(19, 18, 18, 0.749); }



/* Button */
button { 
    background: transparent; 
    color: #ff0000b3;
    border: 1px solid #ff0000b3;

    -webkit-transition: 0.5s linear; 
    -moz-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

button:hover { 
    color: #fff;
    background-color: #ff4500;
}

@media screen and (max-width: 1060px) { button { font-size: 14px; } }

@media screen and (max-width: 768px) { button { font-size: 12px; } }



/* Heading */
@media screen and (max-width:768px) { .heading h1 { font-size: 1.8rem;} }






