/* Button */


/* Footer */


/* Navbar */
a { 
    text-decoration: none;
    color: white;
 }
.navlink a:hover { 
    color: white;
    border-bottom: 0.5px solid red; 
}
.navlink a.active { border-bottom: 2px solid red; }
.side-navlinks a:hover { color: red; }
.side-navlinks a.active { color: orangered; }
.offcanvas { background: rgba(19, 18, 18, 0.649); }

/* TopSection */
.top-section {
    height: 100vh;
    padding-top:  40vh;

    background: rgba(1, 1, 16, 0.497) url(../assets/background.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: color-dodge;
}


/* Button */
button { background: transparent; }
button:hover { background: orangered; }