@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap');

/* :root {
    --xl: 1700px;
    --lg: 1200px;
    --md: 1060px;
    --sm: 768px;
    --ss: 620px;
} */

body {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* ul is for all mapped elements. */
/* body { font-size: 18px; } */

a, button { font-size: 16px; }

.contact__detail { font-size: 22px; }

.top-section__p { width: 25vw; }

h1 { font-size: 3rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1.7rem; }

h4, legend { font-size: 1.4rem; }

.campus-card:hover { background-blend-mode: color-dodge; }

.campus-location { 
    height: 100%;
    width: 100%;
    color: transparent;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    -webkit-transition: 0.5s ease-in; 
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}

.campus-location:hover {
    color: #fff;
    padding-bottom: 30vh;
    /* align-items: center; */
    /* the last 2 properties are interchangeable based on your preference */
}

.enroll {
    width: 95%;
    height: fit-content;

    background: rgba(0, 0, 0, 0.663) url(./assets/banner2.jpg) no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
}

.enroll-heading { width: 80%; }

button { 
    background: transparent; 
    color: #ff0000b3;
    
    -webkit-transition: 0.5s linear; 
    -moz-transition: 0.5s linear;
    -o-transition: 0.5s linear;
    transition: 0.5s linear;
}

button:hover { 
    color: #fff;
    background-color: #ff4500;
}

.navlink { 
    color: #fff;
    text-decoration: none;

    -webkit-transition: 0.5s ease; 
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.navlink:hover { color: #a09c9c; }

.navlink.active{ color: #ff4500; }

.offcanvas { background: rgba(19, 18, 18, 0.749); }



@media screen and (max-width: 1200px) { 
    body { font-size: 16px; } 

    a, button { font-size: 14px;}

    .contact__detail { font-size: 20px; }

    h1 { font-size: 2.7rem; }

    h2 { font-size: 1.9rem; }

    h3 { font-size: 1.6rem; }

    h4, legend { font-size: 1.3rem; }
 }

@media screen and (max-width: 1060px) { 
    .contact__detail { font-size: 18px; }

    .top-section__p { width: 35vw}

    h1 { font-size: 2.4rem; }
    
    h2 { font-size: 1.8rem; }
    
    h3 { font-size: 1.5rem; }
    
    h4, legend { font-size: 1.2rem; }
}

@media screen and (max-width: 768px) { 
    body { font-size: 14px; } 

    a, button { font-size: 12px;}

    .contact__detail { font-size: 16px; }

    .top-section__p { width: 45vw}

    h1 { font-size: 2.1rem; }

    h2 { font-size: 1.7rem; }

    h3 { font-size: 1.4rem; }

    h4, legend { font-size: 1.1rem; }
}

@media screen and (max-width: 620px) { 
    body { font-size: 12px; }
    
    .contact__detail { font-size: 14px; }
    
    .top-section__p { width: 55vw}

    h1 { font-size: 1.8rem; }
    
    h2 { font-size: 1.6rem; }
    
    h3 { font-size: 1.3rem; }
    
    h4, legend { font-size: 1rem; }
}

